docx2txt==0.8
g2pK==0.9.3
google-cloud-translate==2.0.1
googletrans==2.4.0
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jamo==0.4.1
json5==0.9.1
jsonschema==3.2.0
konlpy==0.5.2
MarkupSafe==1.1.1
mecab-python==1.0.0
mecab-python3==0.996.5
py==1.8.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle==4.0.1
pyflakes==2.1.1
Pygments==2.5.2
pylint==2.4.4
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.7.1
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
syllables==0.1.0